html,body{
    margin: 0;
    background-color:rgb(240, 240, 240) ;
}
.container{
    display: flex;
    width: 80%;
}

nav{
position: relative;
display: flex;
width: 100%;
background-color:rgb(240, 240, 240) ;
}
nav a{
    position: relative;
    text-decoration: none;
    padding-left: 60px;
  top: 20px;
 justify-self: center;
}
/* nav img{
    width: 100px;
    height: 70px;
    position: relative;
    padding-left: 60px;
  top: 40px;
 justify-self: center;
} */
nav hr{
    position: relative;
    margin-top: 40px;
}
.btn{
    position: relative;
    top: 20px;
    margin-left: 20%;
    height: 30px;
    width: 110px;
    background-color: rgb(0, 42, 255);
    border-radius: 7px;
    border: none;
    color: white;
}
.btn_btn1 {
    height: 40px;
    background-color: #2549d3;
    color: white;
    border:none;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
}
.logo img{
    height: 20px;
    float: left;
}
.img1{
    width: 10%;
    height: auto;
    float: right;
    margin-right: 130px;
    margin-top: 50px;
}
.img1_div h1{
font-size: 2.6em;
color: #2549d3;
}
.img1_div_h{
    color: rgb(0, 89, 255);
    font-size: 55px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn1{
    margin-left: 0;
}
.fa{
    color: rgb(0, 56, 160);
    position: absolute;
    margin-left:40px;
    margin-top: 20px;
}
.location{
position: absolute;
    width: 70%;
    margin-left: 15%;
    background-color: rgb(255, 255, 255);
    height: 70px;
    margin-top: 500px;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.location h1{
    font-size: 20px;
    display: inline-flex;
    margin-right: 15%;
    margin-left: 2%;
    margin-top: 30px;
   justify-content: center;
   color: blue;
}
.location button{
    margin-top: 30px;
    height: 30px;
    width: 110px;
    background-color: rgb(0, 42, 255);
    border-radius: 2px;
    border: none;
    color: white;
}
.fa-angle-down{
margin-left:10px;
position: relative;
margin-top: 0px;
color: blue;
}
footer{
    background-color: rgb(11, 119, 243);
    color: white;
    font-style: italic;
}
footer ul{
    display: inline-flex;
}
.footer-items{
    width: 25%;
}









